@font-face {
	font-family: 'PixelMplus12-Regular';
	font-style: normal;
    src:url(../mu-wave/PixelMplus12-Regular.ttf);
}

html {
	min-height: 100%;
    font-size: 30px;
}

body{
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'PixelMplus12-Regular';
    background-color: #03080B;
    color: #42ADB5;
}

select{
    cursor: pointer;
    font-family: 'PixelMplus12-Regular';
    background-color: #03080B;
    color: #42ADB5;
    font-size: 30px;
    border:5px solid;
    border-color:#42ADB5;
}

option:nth-child(n){
    border:10px solid;
    border-color:#42ADB5;
}

img{
    cursor: pointer;
    box-sizing:border-box;
    border:5px solid;
    border-color:#42ADB5;
    height:100%;
}

a{
    color: #42ADB5;
    cursor: pointer;
}

input{
    font-family: 'PixelMplus12-Regular';
    font-size: 30px;
    color:#42ADB5;
    background-color: #03080B;
    border:5px solid;
    border-color:#42ADB5;
    box-sizing:border-box;
    width: 100%;
}

#header{
    padding-bottom: 50px;
    background-repeat: repeat;
    background:url(../mu-wave/giza.png);
}

#title{
    font-size: 80px;
}

#noScript{
    padding-top: 50px;
}

h1{
    font-size: 30px;
}

.defaultHidden{
    display:none;
}

#description{
    font-size: 30px;
}

#defaultMsg{
    font-size: 30px;
}

#containerParent{
    display:flex;
    flex:1;
}

.containerPadding{
    flex:1;
}

#container{

}

#default{
    height:100%;
}

#defaultContent{
    height:100%;
    display: flex;
    flex-direction: column;
}

#fileButtonParent{
    flex: 1;
    display: grid;
    grid-template:
    "... ........... ..." 1fr
    "... fileButton ..."
    "... waitingMsg ..." 1fr
    / 1fr auto 1fr;
}

#fileButton{
    grid-area: fileButton;
    display: grid;
    grid-template:
    "... .............. ..." 1fr
    "... fileButtonMsg ..."
    "... .............. ..." 1fr
    / 1fr auto 1fr;
}

#fileButtonMsg{
    grid-area: fileButtonMsg;
    text-align: center;
}

#waitingMsg{
    grid-area: waitingMsg;
    text-align: center;
}

#paramsSettings, #paramsSettingsContent{
    height:100%;
}

#paramsSettingsContent{
    display: grid;
    grid-template:
    "... ... ..." 20px
    " paramsSettingsContentHeader paramsSettingsContentHeader  paramsSettingsContentHeader"
    "... ... ..." 20px
    "sampleRate sampleRate sampleRate"
    "... ... ..." 20px
    "loopStartEndParent loopStartEndParent loopStartEndParent"
    "... ... ..." 1fr
    "... buildButton ..."
    "... ... ..." 1fr
    / 1fr auto 1fr;
}



#paramsSettingsContentHeader{
    display: flex;
    height: 45px;
    grid-area: paramsSettingsContentHeader;
}

#sampleRate{
    grid-area: sampleRate;
}

#loopStartMsg{
    grid-area: loopStartMsg;
}

#loopStartParent{
    grid-area: loopStartParent;
}

#loopEndMsg{
    grid-area: loopEndMsg;
}

#loopEndParent{
    grid-area: loopEndParent;
}

#loopStartEndParent{
    grid-area: loopStartEndParent;
    display: grid;
    grid-template:
    "loopStartMsg loopStartParent"
    "... ..." 20px
    "loopEndMsg loopEndParent"
    / auto 1fr;
}

#buildButton{
    grid-area: buildButton;
    display: grid;
    grid-template:
    "... .............. ..." 1fr
    "... buildButtonMsg ..."
    "... .............. ..." 1fr
    / 1fr auto 1fr;
}

#buildButtonMsg{
    grid-area: buildButtonMsg;
    text-align: center;
}

#encodeWaiting{
    height:100%;
}

#encodeWaitingContent{
    height:100%;
    display: grid;
    grid-template:
    "..........." 20px
    "encodingMsg"
    "..........." 20px
    "progressBar"
    "..........." 20px
    "progressMsg" 
    "..........." 1fr
    "saveButton"
    "..........." 1fr;

}

#encodingMsg{
    grid-area: encodingMsg;
}

#resultTextArea{
    grid-area: resultTextArea;
}

#twoButtonArea{
    grid-area: twoButtonArea;
    display: grid;
    grid-template:
    "... ... ... ... ..." 20px
    "... clipBoard ... reloadButton ..." 
    "... ... ... ... ..." 10px
    "copiedText copiedText copiedText copiedText copiedText" 1fr
    / 1fr 200px 20px 200px 1fr;
}

#clipBoard{
    grid-area: clipBoard;
}

#reloadButton{
    grid-area: reloadButton;
}

#copiedText{
    grid-area: copiedText;
    text-align: center;
}

#result{
    height:100%;
    grid-template:
    "... ... ..." 1fr
    "... resultTextArea ..."
    "... twoButtonArea ..." 1fr
    "... footer ..."
    / 1fr 1000px 1fr;
}

#saveButtonMsg{
    grid-area: saveButtonMsg;
    text-align: center;
}

#footer{
    grid-area: footer;
    height: 60px;
    display: grid;
    background-repeat: repeat;
    background:url(../mu-wave/giza.png);
    grid-template:
    "... ..................." 1fr
    "... footerContentParent"
    / 1fr auto;
}

#footerContentParent{
    grid-area: footerContentParent;
}

.flex1{
    flex:1;
}

.smallButton{
    text-align: center;
    cursor: pointer;
    border: 3px solid;
    border-color:#42ADB5;
    color: #42ADB5;
}

textarea{
    font-family: 'PixelMplus12-Regular';
    color: #42ADB5;
    font-size: 30px;
    background-repeat: repeat;
    border:10px solid;
    border-color:#42ADB5;
    height:300px;
    background-color: #03080B;
}

#resultTextArea::-webkit-scrollbar-track {
    border-color:#42ADB5;
}

#resultTextArea::-webkit-scrollbar-thumb {
    border-color: #03080B;
}

.bigButton{
    cursor: pointer;
    background-repeat: repeat;
    background:url(../mu-wave/giza3.png);
    border:10px solid;
    border-color:#42ADB5;
    width:600px;
    height:200px;
}

@media screen and (max-width:600px) {
    html {
        font-size: 15px;
    }
    #title{
        font-size: 40px;
    }
    img{
        border:2.5px solid;
    }
    input{
        font-size: 15px;
        border:2.5px solid;
    }
    h1{
        font-size: 15px;
    }
    select{
        font-size: 15px;
        border:2.5px solid;
    }
	#description{
    font-size: 15px;
    }

    #defaultMsg{
    font-size: 15px;
    }
    #paramsSettingsContent{
        grid-template:
        "... ... ..." 10px
        " paramsSettingsContentHeader paramsSettingsContentHeader  paramsSettingsContentHeader"
        "... ... ..." 10px
        "sampleRate sampleRate sampleRate"
        "... ... ..." 10px
        "loopStartEndParent loopStartEndParent loopStartEndParent"
        "... ... ..." 1fr
        "... buildButton ..."
        "... ... ..." 1fr
        / 1fr auto 1fr;
    }
    #loopStartEndParent{
        grid-template:
        "loopStartMsg loopStartParent"
        "... ..." 10px
        "loopEndMsg loopEndParent"
        / auto 1fr;
    }
    #paramsSettingsContentHeader{
        height: 22.5px;
    }
    #encodeWaitingContent{
        grid-template:
        "..........." 10px
        "encodingMsg"
        "..........." 10px
        "progressBar"
        "..........." 10px
        "progressMsg"
        "..........." 1fr
        "saveButton"
        "..........." 1fr;

    }
    #progressBar{
        width:300px;
        border:5px solid;
    }
    
    #progressBarFilled{
        height: 25px;
    }
    
    .bigButton{
        border:5px solid;
        width:300px;
        height:100px;
    }

    #footer{
        height: 30px;
    }
}