@font-face {
	font-family: 'PixelMplus12-Regular';
	font-style: normal;
    src:url(PixelMplus12-Regular.ttf);
}

body{
    background-color: #03080B;
}

#brstmOpen{
    display: none;
}

#containerParent{
    display:flex;
}

.containerPadding{
    flex:1;
}

#container{
    /*width: 500px;*/
}

#cd{
    cursor: pointer;
    position:relative;
    text-align:center;
    width: 400px;
	height: 400px;
	border-radius: 50%;
    border:10px solid;
    border-color:#42ADB5;
    color: #42ADB5;
    font-family: 'PixelMplus12-Regular';
    font-size: 40px;
    display:grid;
    transform-origin:50% 50%;
    grid-template:
    "... ..... ......... ..." 1fr
    "... cdMsg decodeMsg ..."
    "... ..... ......... ..." 1fr
    / 1fr auto auto 1fr;
}

.cdMsgPads{
    flex:1;
}

#decodeMsg{
    grid-area: decodeMsg;
}

#cdMsg{
    word-break: break-all;
    display:none;
    grid-area: cdMsg;
    transform-origin:50% 50%;
}

#footer{
    height:150px;
}

/*900pxまで*/
#levelmeter{
    margin-top:20px;
    display:flex;
    height:50px;
}

#time{
    color: #42ADB5;
    text-align: center;
    font-size: 40px;
    min-height: 43px;
    font-family: 'PixelMplus12-Regular';
    margin-top: 10px;
}

#controler{
    margin-top: 10px;
    display:flex;
}

.contlorlerPadding{
    flex:1;
    display: flex;
}

#backButtonLeft{
    flex:1;
}

#backButton{
    margin-right:20px;
}

#playButton{
    
}

img{
    cursor: pointer;
    border:5px solid;
    border-color:#42ADB5;
    height: 50px;
}

#trackButton{
    cursor: pointer;
    margin-left:20px;
    border:5px solid;
    border-color:#42ADB5;
    height: 50px;
    font-size: 40px;
    font-family: 'PixelMplus12-Regular';
    color:#42ADB5;
}

#trackButtonRight{
    flex:1;
}

@media screen and (max-width: 520px) {
    #cd{
        width: 300px;
        height: 300px;
        border: 7.5px solid;
    }
    #cdMsg{
        font-size: 30px;
    }
    #decodeMsg{
        font-size: 30px;
    }
    #levelmeter{
        margin-top:15px;
        height:37.5px;
    }
    #time{
        margin-top: 7.5px;
        font-size: 30px;
    }
    #controler{
        margin-top: 0px;
    }
    #backButton{
        margin-right:15px;
    }
    img{
        border: 3.75px solid;
        border-color: #42ADB5;
        height: 37.5px;
    }
    
    #trackButton{
        margin-left:15px;
        border:3.75px solid;
        height: 37.5px;
        font-size: 30px;
        min-height: 33px;
    }
}

@media screen and (max-width: 400px) {
    #backButton{
        margin-right:10px;
    }
    img{
        border: 3px solid;
        border-color: #42ADB5;
        height: 20px;
    }
    
    #trackButton{
        margin-left:10px;
        border:3px solid;
        height: 20px;
        font-size: 20px;
        min-height: 22px;
    }
}