@font-face {
	font-family: 'PixelMplus12-Regular';
	font-style: normal;
    src:url(PixelMplus12-Regular.ttf);
}

html {
	min-height: 100%;
    font-size: 30px;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'PixelMplus12-Regular';
    background-color: #03080B;
    color: #42ADB5;
}

select{
    cursor: pointer;
    font-family: 'PixelMplus12-Regular';
    background-color: #03080B;
    color: #42ADB5;
    font-size: 30px;
    border:5px solid;
    border-color:#42ADB5;
}

option:nth-child(n){
    border:10px solid;
    border-color:#42ADB5;
}

img{
    cursor: pointer;
    box-sizing:border-box;
    border:5px solid;
    border-color:#42ADB5;
    height:100%;
}

a{
    color: #42ADB5;
    cursor: pointer;
}

input{
    font-family: 'PixelMplus12-Regular';
    font-size: 30px;
    color:#42ADB5;
    background-color: #03080B;
    border:5px solid;
    border-color:#42ADB5;
    box-sizing:border-box;
    width: 100%;
}

#header{
    background-repeat: repeat;
    background:url(giza.png);
}

#title{
    font-size: 80px;
}

h1{
    font-size: 30px;
}

.defaultHidden{
    display:none;
}

#description{
    font-size: 30px;
}

#defaultMsg{
    font-size: 30px;
}

#containerParent{
    display:flex;
    flex:1;
}

.containerPadding{
    flex:1;
}

#container{

}

#default{
    height:100%;
}

#defaultContent{
    height:100%;
    display: flex;
    flex-direction: column;
}

#musicButtonParent{
    flex: 1;
    display: grid;
    grid-template:
    "... ........... ..." 1fr
    "... musicButton ..."
    "... musicErrorMsg ..." 1fr
    / 1fr auto 1fr;
}

#musicButton{
    grid-area: musicButton;
    display: grid;
    grid-template:
    "... .............. ..." 1fr
    "... musicButtonMsg ..."
    "... .............. ..." 1fr
    / 1fr auto 1fr;
}

#musicButtonMsg{
    grid-area: musicButtonMsg;
    text-align: center;
}

#musicErrorMsg{
    grid-area: musicErrorMsg;
    text-align: center;
}

#paramsSettings, #paramsSettingsContent{
    height:100%;
}

#paramsSettingsContent{
    display: grid;
    grid-template:
    "... ... ..." 20px
    " paramsSettingsContentHeader paramsSettingsContentHeader  paramsSettingsContentHeader"
    "... ... ..." 20px
    "sampleRate sampleRate sampleRate"
    "... ... ..." 20px
    "loopStartEndParent loopStartEndParent loopStartEndParent"
    "... ... ..." 1fr
    "... buildButton ..."
    "... ... ..." 1fr
    / 1fr auto 1fr;
}



#paramsSettingsContentHeader{
    display: flex;
    height: 45px;
    grid-area: paramsSettingsContentHeader;
}

#sampleRate{
    grid-area: sampleRate;
}

#loopStartMsg{
    grid-area: loopStartMsg;
}

#loopStartParent{
    grid-area: loopStartParent;
}

#loopEndMsg{
    grid-area: loopEndMsg;
}

#loopEndParent{
    grid-area: loopEndParent;
}

#loopStartEndParent{
    grid-area: loopStartEndParent;
    display: grid;
    grid-template:
    "loopStartMsg loopStartParent"
    "... ..." 20px
    "loopEndMsg loopEndParent"
    / auto 1fr;
}

#buildButton{
    grid-area: buildButton;
    display: grid;
    grid-template:
    "... .............. ..." 1fr
    "... buildButtonMsg ..."
    "... .............. ..." 1fr
    / 1fr auto 1fr;
}

#buildButtonMsg{
    grid-area: buildButtonMsg;
    text-align: center;
}

#encodeWaiting{
    height:100%;
}

#encodeWaitingContent{
    height:100%;
    display: grid;
    grid-template:
    "..........." 20px
    "encodingMsg"
    "..........." 20px
    "progressBar"
    "..........." 20px
    "progressMsg" 
    "..........." 1fr
    "saveButton"
    "..........." 1fr;

}

#encodingMsg{
    grid-area: encodingMsg;
}

#progressBar{
    width:600px;
    border:10px solid;
    border-color:#42ADB5;
    display: flex;
    grid-area: progressBar;
}

#progressBarFilled{
    height: 50px;
    width:0%;
    background-repeat: repeat;
    background:url(giza2.png);
}

#progressMsg{
    text-align: center;
    grid-area: progressMsg;
}

#saveButton{
    grid-area: saveButton;
    display: none;
    grid-template:
    "... .............. ..." 1fr
    "... saveButtonMsg ..."
    "... .............. ..." 1fr
    / 1fr auto 1fr;

}

#saveButtonMsg{
    grid-area: saveButtonMsg;
    text-align: center;
}

#footer{
    height: 60px;
    display: grid;
    background-repeat: repeat;
    background:url(giza.png);
    grid-template:
    "... ..................." 1fr
    "... footerContentParent"
    / 1fr auto;
}

#footerContentParent{
    grid-area: footerContentParent;
}

.flex1{
    flex:1;
}

.bigButton{
    cursor: pointer;
    background-repeat: repeat;
    background:url(giza3.png);
    border:10px solid;
    border-color:#42ADB5;
    width:600px;
    height:200px;
}

@media screen and (max-width:600px) {
    html {
        font-size: 15px;
    }
    #title{
        font-size: 40px;
    }
    img{
        border:2.5px solid;
    }
    input{
        font-size: 15px;
        border:2.5px solid;
    }
    h1{
        font-size: 15px;
    }
    select{
        font-size: 15px;
        border:2.5px solid;
    }
	#description{
    font-size: 15px;
    }

    #defaultMsg{
    font-size: 15px;
    }
    #paramsSettingsContent{
        grid-template:
        "... ... ..." 10px
        " paramsSettingsContentHeader paramsSettingsContentHeader  paramsSettingsContentHeader"
        "... ... ..." 10px
        "sampleRate sampleRate sampleRate"
        "... ... ..." 10px
        "loopStartEndParent loopStartEndParent loopStartEndParent"
        "... ... ..." 1fr
        "... buildButton ..."
        "... ... ..." 1fr
        / 1fr auto 1fr;
    }
    #loopStartEndParent{
        grid-template:
        "loopStartMsg loopStartParent"
        "... ..." 10px
        "loopEndMsg loopEndParent"
        / auto 1fr;
    }
    #paramsSettingsContentHeader{
        height: 22.5px;
    }
    #encodeWaitingContent{
        grid-template:
        "..........." 10px
        "encodingMsg"
        "..........." 10px
        "progressBar"
        "..........." 10px
        "progressMsg"
        "..........." 1fr
        "saveButton"
        "..........." 1fr;

    }
    #progressBar{
        width:300px;
        border:5px solid;
    }
    
    #progressBarFilled{
        height: 25px;
    }
    
    .bigButton{
        border:5px solid;
        width:300px;
        height:100px;
    }

    #footer{
        height: 30px;
    }
}